<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="info"
      internalLogFile="Log\internal-nlog.log">

  <!-- log file directory -->
  <variable name="logDirectory" value="Log"/>

  <!-- log file name prefix -->
  <variable name="serviceName" value="oauth-sample"/>

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!-- the targets to write to -->
  <targets async="true">
    <!-- write logs to file  -->
    <target xsi:type="File"
            name="tracefile"
            fileName="${logDirectory}/${serviceName}-trace.log"
            archiveAboveSize="50000000"
            archiveNumbering="Rolling"
            maxArchiveFiles="30"
            concurrentWrites="false"
            keepFileOpen="false"
            encoding="utf-8"
            createDirs="true"
            layout="${longdate}|${pad:padding=-5:inner=${level:uppercase=true}}|thread-${threadid}|${logger}|${message} ${exception:format=tostring}" />
    <target xsi:type="File" 
            name="infofile"
            fileName="${logDirectory}/${serviceName}-info.log"
            archiveAboveSize="50000000"
            archiveNumbering="Rolling"
            maxArchiveFiles="30"
            concurrentWrites="false"
            keepFileOpen="false"
            encoding="utf-8"
            createDirs="true"
            layout="${longdate}|${pad:padding=-5:inner=${level:uppercase=true}}|thread-${threadid}|${logger}|${message} ${exception:format=tostring}" />
    <target xsi:type="File"
            name="errorfile"
            fileName="${logDirectory}/${serviceName}-error.log"
            archiveAboveSize="50000000"
            archiveNumbering="Rolling"
            maxArchiveFiles="30"
            concurrentWrites="false"
            keepFileOpen="false"
            encoding="utf-8"
            createDirs="true"
            layout="${longdate}|${pad:padding=-5:inner=${level:uppercase=true}}|thread-${threadid}|${logger}|${message} ${exception:format=tostring}" />
    <target xsi:type="File"
            name="accessfile"
            fileName="${logDirectory}/${serviceName}-access.log"
            archiveAboveSize="50000000"
            archiveNumbering="Rolling"
            maxArchiveFiles="30"
            concurrentWrites="false"
            keepFileOpen="false"
            encoding="utf-8"
            createDirs="true"
            layout="${longdate}|${pad:padding=-5:inner=${level:uppercase=true}}|thread-${threadid}|${message}"/>
    <target xsi:type="ColoredConsole"
            name="console"
            encoding="utf-8"
            useDefaultRowHighlightingRules="false"
            layout="[${pad:padding=-5:inner=${level:uppercase=true}}]|${longdate}|thread-${threadid}|${logger}|${message} ${exception:format=tostring}">
        <highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray" />
        <highlight-row condition="level == LogLevel.Info" foregroundColor="Green" />
        <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
        <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
        <highlight-row condition="level == LogLevel.Fatal" foregroundColor="DarkRed"/>
    </target>
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Trace" writeTo="tracefile" />
    <logger name="*" minlevel="Error" writeTo="errorfile" />
    <logger name="*" minlevel="Debug" writeTo="console" />
    <logger name="Microsoft.AspNetCore.Hosting.Internal.WebHost" minlevel="Trace" writeTo="accessfile" />
    <logger name="*" minlevel="Info" writeTo="infofile" />
  </rules>
</nlog>